<!DOCTYPE html>
<html>
<body>
    <h1>Reset Password</h1>

    <label>Email Address</label>
    <input id="email" name="email" type="email" value="" />
    <button type="button" onclick="resetPass()">Reset Password</button>

<a href="/users/register">Sign up!</a>
<a href="/login">login</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
var serverContext = /*[[@{/}]]*/ '';
console.log("Server Context: ", serverContext);
function resetPass(){
    var email = $("#email").val();
    console.log("Reset button clicked: " + email);
    $.post(serverContext + "users/resetPassword",{email: email} ,
    function(data){
        window.location.href =
        serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
        console.error("Error: " , data);
        let message ="An unexpected error occurred.";
    	if(data.responseJSON){
            if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
            return;
        }
        if(data.responseJSON.message){
            message = data.responseJSON.message;
        }
    }
        window.location.href = serverContext + "login?message=" + message;
    });
}

</script>
</body>

</html>