<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingredients</title>
    <link rel="stylesheet" href="/css/recipeHome.css">
</head>
<body>
    <nav>
        <a href="/recipes">Recipes</a>
        <a href="/generator">Recipe Generator</a>
        <a href="/users/userInfo">User</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1>Ingredients</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price Category</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.name}"></td>
                <!--Display price category as $-->
                <td>
                    <span th:switch="${ingredient.priceCategory}">
                        <span th:case="1.0">$</span>
                        <span th:case="2.0">$$</span>
                        <span th:case="3.0">$$$</span>
                    </span>
                </td>
                <td>
                    <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}">Edit</a>
                    <a th:href="@{/ingredients/delete/{id}(id=${ingredient.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="button-add" th:href="@{/ingredients/new}">Add New Ingredient</a>
</body>
</html>
