<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingredients</title>
</head>
<body>
    <h1>Ingredients</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.name}"></td>
                <td th:text="${ingredient.price}"></td>
                <td th:text="${ingredient.unit}"></td>
                <td>
                    <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}">Edit</a>
                    <a th:href="@{/ingredients/delete/{id}(id=${ingredient.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/addIngredientForm}">Add New Ingredient</a>
</body>
</html>
