<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/recipeHome.css">
</head>
<body>
    <nav>
        <a href="/generator">Recipe Generator</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/users/userInfo">More</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1>Recipes</h1>

    <!-- Search Bar -->
    <form th:action="@{/recipes/search}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search recipes..." required />
        <button type="submit" class="submit-button">Search</button>
        <button type="button" class="refresh-button" onclick="window.location.href='/recipes'">Refresh</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cook Time</th>
                <th>Cost</th>
                <th><!-- Empty header for actions --></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td><a th:href="@{/recipes/view/{id}(id=${recipe.recipeID})}" th:text="${recipe.name}"></a></td>
                <td th:text="${recipe.cookTime}"></td>
                <!--Show the price category as $ rather than the numeric value-->
                <td>
                    <span th:switch="${recipe.cost}">
                        <span th:case="1.0">$</span>
                        <span th:case="2.0">$$</span>
                        <span th:case="3.0">$$$</span>
                    </span>
                </td>
                <td>
                    <a th:href="@{/recipes/edit/{id}(id=${recipe.recipeID})}">Edit</a>
                    <a th:href="@{/recipes/delete/{id}(id=${recipe.recipeID})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/recipes/new" class="button-add">Add Recipe</a>
</body>
</html>
