<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Generator</title>
        <link rel="stylesheet" href="/css/recipeGenerator.css">
    </head>
    <body>
        <nav>
            <a href="/recipes">Recipes</a>
            <a href="/ingredients">Ingredients</a>
            <a href="/users/userInfo">More</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class ="generator-container">
            <h1> Generate a Random Recipe</h1>
            <!--Filter Form-->
            <form th:action="@{/generator}" method="post">
                <label for="costRange">Cost Range:</label>
                <select id="costRange" name="costRange">
                    <option value="">None</option>
                    <option value="1.0">$</option>
                    <option value="2.0">$$</option>
                    <option value="3.0">$$$</option>
                </select><br>

                <label for="descriptor">Descriptor(s)</label>
                <input type="text" id="descriptor" name="descriptor" placeholder="Separate by comma (',')"><br>

                <label for="ingredientNames">Ingredient(s)</label>
                <input type="text" id="ingredientNames" name="ingredientNames" placeholder="Separate by a comma (',')"><br>

                <label for="maxCookTime">Max Cook Time (minutes):</label>
                <input type="number" id="maxCookTime" name="maxCookTime" min="1"><br>

                <button type="submit">Generate Recipe</button>
            </form>

            <!--Error message for no found recipes-->
            <div th:if="${errorMessage}">
                <p th:text="${errorMessage}"></p>
            </div>

            <!--Display the generated recipe-->
            <div th:if="${recipe != null}" class="recipe-result">
                <h2 th:text="${recipe.name}"></h2>
                <p><strong>Descriptors:</strong><br>
                    <span th:text="${recipe.descriptors}"></span></p>
                <p><strong>Cost Range:</strong><br>
                    <span th:switch="${recipe.cost}">
                        <span th:case="1.0">$</span>
                        <span th:case="2.0">$$</span>
                        <span th:case="3.0">$$$</span>
                    </span>
                <p><strong>Cook Time:</strong><br>
                    <span th:text="${recipe.cookTime}"></span> minutes</p>
                
                <h3>Ingredients</h3>
                <ul>
                    <li th:each="ingredient : ${recipe.recipeIngredients}">
                        <span th:text="${ingredient.quantity}"></span> of <span th:text="${ingredient.ingredient.name}"></span>
                    </li>
                </ul>
                
                <h3>Instructions</h3>
                <p><span th:text="${recipe.instructions}"></span></p>
            </div>
        </div>
    </body>
</html>